body {
  background-color: #eee;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
button:focus {
  outline: 0;
}
.navbar .dropdown-menu .form-control {
  width: 100%;
}

#map {
  height: 700px;
  width: 100%;
  border: 1px solid black;
  margin: 0 auto;
}

#poiPopup {
  display: none;
  position: absolute;
  color: white;
  padding: 40px;
  border: solid 1px #ddd;
  background: grey;
  text-align: center;
  width: 10%;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.create-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  border-radius: 20px;
}

/* Add styles to the form container */
#mapInfo {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

/* Full-width input fields */
#mapInfo input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
#mapInfo input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
#mapInfo .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .close-button {
  background-color: red;
}
.fav-icon {
 height: 0.5m;
 width: 0.5em;
 display: inline-block;
 opacity: 1;
}